$breakpoints: (
    tapo: 768px,     // Tablet-portrait
    taho: 1024px,    // Tablet-horizontal
    desk: 1920px,       // Desktop
) !default;


@mixin media-down($breakpoint) {
    @if (type_of($breakpoint) == 'string') {
        $breakpoint: map_get($breakpoints, $breakpoint);
    }

    @media (max-width: em($breakpoint - 1)) {
        @content;
    }
}

@mixin media-up($breakpoint) {
    @if (type_of($breakpoint) == 'string') {
        $breakpoint: map_get($breakpoints, $breakpoint);
    }

    @media (min-width: em($breakpoint)) {
        @content;
    }
}

@mixin media-between($breakpoint-min, $breakpoint-max) {
    @if (type_of($breakpoint-min) == 'string') {
        $breakpoint-min: map_get($breakpoints, $breakpoint-min);
    }
    @if (type_of($breakpoint-max) == 'string') {
        $breakpoint-max: map_get($breakpoints, $breakpoint-max);
    }

    @media (min-width: em($breakpoint-min)) and (max-width: em($breakpoint-max)) {
        @content;
    }
}
